---
import MainLayout from "../Layout/MainLayout.astro";
import { mile } from "./index.astro";
---

<MainLayout title="Contact">
  <h1>I am the contact page</h1>
  <img src={mile} alt="" />
</MainLayout>
