---
import MainLayout from "../Layout/MainLayout.astro";
const tits = "tiny";
---

<MainLayout pageName={`home ${tits}`}>
  <h1>Astro</h1>
  <p>Yo, What's up?</p>
</MainLayout>

<script>
  console.log(window.location.pathname);
</script>
