---
const links = [
  {
    url: "/",
    name: "Home",
  },
  {
    url: "/about",
    name: "About",
  },
  {
    url: "/contact",
    name: "Contact",
  },
];
---

<header>
  <nav>
    <div class="logo">
      <a href="/">
        <img src="/favicon.svg" alt="" />
      </a>
    </div>
    <ul>
      <li><a class="nav__link" href="/">Home</a></li>
      <li><a class="nav__link" href="/about">About</a></li>
      <li><a class="nav__link" href="/contact">Contact</a></li>
    </ul>
  </nav>
</header>

<style></style>

<script src="../js/navLinks.js"></script>
