---
const links = [
  {
    url: "/",
    name: "Home",
  },
  {
    url: "/pretty/about",
    name: "About",
  },
  {
    url: "/pretty/contact",
    name: "Contact",
  },
];
---

<nav>
  {links.map((link) => <a href={link.url}>{link.name}</a>)}
</nav>
