---
import "../styles/global.scss";
import Links from "../Data/Links.astro";

const { pageName } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body class={pageName}>
    <header>What's up</header>
    <Links />
    <slot />
  </body>
</html>
